
#navwindow {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    width: min(250px, 90%);
}

.naventry {
    display: flex;
    justify-content: start;
    transition: 500ms;
}

.naventry:hover {
    transform: scale(1.03, 1.03);
    background-color: var(--acc);
    color: var(--bg2)
}

.naventry > * {
    margin: 10px;
}

.current {
    color: var(--acc)
}
