* { 
    font-family: Iosevka, monospace; 
}

:root {
    /* oxocarbon ftw */
    --bg: #161616;
    --bg2: #262626;
    --bg3: #393939;
    --fg: #dde1e6;
    --acc: #ff7eb6;
    --blue: #78a9ff;
    --round: 10px;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    background-color: var(--fg);
    background-image: url("../assets/flowerbw.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 30px;
}

h1, h2, h3 {
    text-align: center;
}

p, li {
    font-size: 18px;
    /* margin: 20px; */
}

code {
    background-color: var(--bg3);
}

pre {
    overflow-x: auto;
    background-color: var(--bg3);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border-color: var(--bg2);
}

.button {
    all: unset;
    margin: 5px;
    padding: 5px;
    border-radius: var(--round);

    background-color: var(--bg2);
    text-align: center;

    display: flex;

    transition: color 500ms;
    transition: background-color 500ms;
}

.button > * {
    margin: 3px;
    padding: 0px;
}

.button:hover {
    cursor: pointer;
    background-color: var(--acc);
    color: var(--bg2)
}

.menushow {
    position: relative;
    display: block;
    padding: 5px;
    background-color: var(--bg);
    color: var(--acc);
    transition: 500ms;
    height: 0px;
    transform: translateY(-100%) scaleY(0);
    text-align: center;
}

.menushow > .button {
    justify-content: center;
}

.smallbutton {
    display: none;
}

.largebutton {
    display: flex;
}

@media screen and (max-width: 800px) {
    .largebutton {
        display: none;
    }
    .smallbutton {
        display: flex
    }
}

a {
    color: var(--blue);
}

article {
    position: relative;
    flex-grow: 1; 
    flex-basis: 0;

    background-color: var(--bg);
    color: var(--fg);
    border-radius: var(--round);
    border: 2px solid var(--bg3);
    overflow-y: auto;

    margin: 10px;
}

.content {
    overflow-y: auto;
    padding: 10px;
    padding-top: 45px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

.thin {
    width: min(90%, 800px);
}

.workspace {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 5px;
    margin-top: 55px;

    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;

    #master-stack {
        flex-grow: 2; 
    }

    #slave-stack {
        flex-grow: 1;
    }
}

.workspace > div {
    display: flex; 
    flex-basis: 0;
    flex-direction: column; 
    height: 100%;
    scroll-snap-align: start;
    min-width: min(400px, 90%);
}

.bcorners {
    transition: 500ms;
    position: fixed; 
    top: 50px;
    left: 0;
    width: 100%;
    border-top-left-radius: calc(var(--round) + 10px);
    border-top-right-radius: calc(var(--round) + 10px);
    box-shadow: 0px calc(var(--round) * -1) 0px var(--round) var(--bg);
    width: 100vw;
    height: calc(var(--round) + 10px);
    z-index: -1;
}

.barwrap {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;

    z-index: 999;
}

.bar {
    display: flex;
    background-color: var(--bg);
    color: var(--acc);
    justify-content: space-between;
}

.subbar {
    display: flex;
    /* flex-direction: column; */
}
.centered {
    display: flex;
    flex-direction: column;
    justify-content: safe center;
    align-items: center;
}

.vcentered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogmedia {
    --size: min(95%, 700px);
    position: relative;
    margin-left: calc(50% - var(--size)/2);
    margin-top: 5px;
    margin-bottom: 5px;
    width: var(--size);
    border-radius: var(--round);
}
.blogmediasmall {
    --size: min(95%, 400px);
    position: relative;
    margin-left: calc(50% - var(--size)/2);
    margin-top: 5px;
    margin-bottom: 5px;
    width: var(--size);
    border-radius: var(--round);
}


.popup {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: min(300px, 50%);

    transition: right 500ms;

    background-color: var(--bg);
    color: var(--fg);
    border: 2px solid var(--bg3);
    border-radius: var(--round);

    margin: 10px;
    padding: 5px;
}

.popup.gone {
    right: -400px;
}

/* override popup property for notifications */
.notif {
    top: 60px;
    right: 10px;
    bottom: unset;

    transition: top 500ms;
}

.notif.gone {
    top: -300px;
    right: 10px;
    bottom: unset;
}

.titlebar {
    position: absolute;
    background-color: var(--bg3);
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    z-index: 1;
    display: flex; 
    justify-content: space-between;
    .sub {
        overflow: hidden;
        text-overflow: "-";
        margin: 7px;
        display: flex;
    }
}

.actionbutton {
    min-width: 17px;
    min-height: 17px;
    width: 17px;
    height: 17px;
    margin: 1px 3px;
    border-radius: 50%;
}
