
.box-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-item {
    position: relative;
    margin: 10px;
    padding: 10px;

    /* annoying ass phone users */
    width: min(500px, 90%);
    /* height: 400px; */
    /* overflow-y: scroll; */

    text-align: center;
    text-wrap: wrap;

    border-radius: 5px;
    background-color: var(--bg2);
}

